<form action="/favorites" method="POST">
    <button class="bg-white border-2 border-red-500 text-red-500 py-2 px-4 rounded-lg hover:bg-red-50 transition duration-300" type="submit">
      Add to Favorites
    </button>
    <input type="hidden" name="id" value="<%= home._id %>">
  </form>